APIFY_API_TOKEN=your_apify_token
APIFY_ACTOR_ID=compass~crawler-google-places
HUNTER_API_KEY=your_hunter_api_key
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?retryWrites=true&w=majority
MONGODB_DB_NAME=leadgen
